<%- include("partials/header") -%>

<h1>Compose</h1>
    <p><%=homecontent%></p>
<input type="text" name="" value="">
<button type="submit" name="button">Publish</button>

  </body>
  <footer></footer>
</html>

<%- include("partials/footer") -%>
